<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Lock & Key</title>
</head>
<body>
    <div class="container">
    <h1> <span class="about">About </span> <br> Locke & Key</h1>
    <h3>Joe Hill and Gabriel Rodriguez</h3>
    <p>
        Locke & Key tells the story of the Locke siblings, Tyler, Kinsey, and little Bode, who, along with their mother, return to their ancestral home of Keyhouse following their father’s gruesome murder. Keyhouse is a place of both wonder and fear, filled with dark doors and the magic keys that open them, and also home to a malicious presence that will stop at nothing in it’s quest for the Omega Key and the unspeakable prize it unlocks.<br>
        Locke & Key is a comic book like no other. Modern master of horror Joe Hill (The Fireman) has ingeniously honed the story to a razor’s edge that shreds the nerves and tugs the heartstrings, while the unparalleled art of Gabriel Rodriguez (the Eisner Award-winning Little Nemo: Return to Slumberland) enlivens both the characters and their world with irresistible terror.</p>
     <img src="/images/about.jpg"  alt="about">
    </div>
</body>
</html>