<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gallery.css">
    <title>Lock & Key</title>
</head>
<body>
    <div class="container">
        <h1> Key Gallery</h1>
        <div class="images-key">
        <div class="key">
            <img src="/images/key1.png" alt="">
            <h3>THE IDENTITY KEY</h3>
            <p>The Identity Key is really powerful, allowing the user to adopt an entirely different identity. Dodge uses it in much the same way she does the Gender Key in the comic, 
                transforming into Lucas Caravaggio and other identities as needed.</P>
        </div>
        <div class="key">
            <img src="/images/key2.png" alt="">
            <h3>THE ECHO KEY</h3>
            <p>The Echo Key can be used to bring a spirit from the realm of the dead back to the living world, 
                though once that spirit passes through the Wellhouse door, they're banished back to oblivion.</p>
        </div>
        <div class="key">
            <img src="/images/key3.png" alt="">
            <h3>THE ANYWHERE KEY</h3>
            <p> This key allows the user to travel anywhere in the world they can picture in their mind, so long as they can clearly imagine the door they want to walk through. 
                Even better, it's not linked to a specific door and can be inserted into any keyhole.</p>
        </div>
        <div class="key">
            <img src="/images/key4.png" alt="">
            <h3>THE MUSIC BOX KEY</h3>
            <p> This key unlocks a corresponding music box that, when played, hypnotizes all listeners into doing the owner's bidding.
                 That spell lasts so long as the listener continues to hear the music box play. </p>
        </div>
        <div class="key">
            <img src="/images/key5.png" alt="">
            <h3>THE SHADOW KEY</h3>
            <p> The Shadow Key unlocks a secret door in the basement of Keyhouse. That door leads to the Chamber of Living Shadows, a room which houses a powerful artifact called the Crown of Shadows. 
                The crown allows the user to control ghostly entities called Living Shadows, with the form of those shadows varying depending on the personality of the user.</p>
        </div>
    </div>
</body>
</html>