<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Lock & Key</title>
</head>
<body>
    <div class="container">
        <h1>Lock & Key</h1>
        <p>“
            The keys... they can bring about the greatest good, or the darkest evil, and you, the maker, get to decide.
            ” <br>
           <strong>–Duncan Locke</strong> </p>
     
        <div class="links">
            <a href="/about">About</a>
            <a href="/works">Cast</a>
            <a href="/gallery">Key Gallery</a>
        </div>
        <img src="/images/homePage2.jpeg" alt="">

    </div>
    
</body>
</html>