<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="works.css">
    <title>Lock & Key</title>
</head>
<body>
    <div class="container">
        <h1> Cast</h1>
        <div class="images-cast">
        <div class="cast">
            <img src="/images/cast1.jpeg" alt="">
            <h3>BODE LOCKE (JACKSON ROBERT SCOTT)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast2.jpeg" alt="">
            <h3>TYLER LOCKE (CONNOR JESSUP)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast3.jpeg" alt="">
            <h3>KINSEY LOCKE (EMILIA JONES)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast4.jpeg" alt="">
            <h3>ELLIE WHEDON (SHERRI SAUM)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast5.jpeg" alt="">
            <h3>RUFUS WHEDON (CODY BIRD)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast6.jpeg" alt="">
            <h3>NINA LOCKE (DARBY STANCHFIELD)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast7.jpeg" alt="">
            <h3>RENDELL LOCKE (BILL HECK)</h3>
        </div>
        <div class="cast">
            <img src="/images/cast8.jpeg" alt="">
            <h3>DODGE (LAYSLA DE OLIVEIRA)</h3>
        </div>

    </div>

    </body>
</body>
</html>