@import url(‘https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap’);
@import url(‘https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap’);

body{
    background-color: black;
    color: white;
    font-family: 'Roboto';
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Abril Fatface';
    color: white;
    margin-top: 20px ;
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
}
.about{
    font-family: 'Roboto';
    font-size: 0.8em;
    color: rgb(240, 162, 73)
}
p{
    font-size: 1.2em;
    font-weight: 300;
    margin: 0px 300px;
}
img{
        width: 700px;
        border-radius: 20px;
        margin-top: 30px;
}