@import url(‘https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap’);
@import url(‘https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap’);

body{
    background-color: black;
    color: white;
    font-family: 'Roboto';
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex;
}
h1{
    margin-top: 20px ;
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto';
 
    color: rgb(240, 162, 73)
}
.images-key{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}
img{
    width: 450px;
    height: 290px;
    border-radius: 20px;
    margin-top: 30px;
}

.key{
    width: 400px;
    margin: 5px 50px;
}

h3{
    color: rgb(240, 162, 73) ;
}
p{
    font-weight: 300;
}