@import url(‘https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap’);
@import url(‘https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap’);

body{
    background-color: black;
    color: white;
    font-family: 'Roboto';
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.images-cast{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.cast{
    margin: 5px 50px;
}

h1{
    margin-top: 20px ;
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto';
 
    color: rgb(240, 162, 73)
}
h3{
    font-size: 1em;
    text-align: center;
}

img{
        width: 300px;
        height: 190px;
        border-radius: 20px;
        margin-top: 30px;
}